.result {
  border-radius: 10px;
  padding: auto;
  height: 60px;
  background-color: #dddddd;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.button {
  border-radius: 10px;
  display: block;
  background-color: #ffffff;
}

.button button {
  border-radius: 10px;
  background-color: #dddddd;
  color: #000000;
  width: 25%;
  height: 60px;
  font-size: 30px;
}